.page-header {
  text-align: center;
  margin-bottom: 3rem;
}

.page-description {
  max-width: 600px;
  margin: 0 auto;
  color: #aaa;
  font-size: 1.1rem;
}

@media (prefers-color-scheme: light) {
  .page-description {
    color: #666;
  }
}
